<ion-content [fullscreen]="true">
  <ion-img class="login-page-figure" src="assets/login_page_figure.svg"></ion-img>
  <div class="keyboard-fixer">
      <div class="login-content flex-center flex-column">
        <h1 class="login-title">Авторизация</h1>
        <h2 class="login-subtitle">Пожалуйста, войдите в систему, чтобы продолжить</h2>
        <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
          <ion-list no-lines>
            <ion-item class="login-entry" lines="none">
              <ion-label class="login-label" position="stacked">Введите номер</ion-label>
              <ion-input class="login-input" placeholder="+7" type="username" formControlName="username"></ion-input>
              <ion-note *ngIf="!credentialsForm.valid && credentialsForm.get('username')?.touched" slot="error">Обязательное поле</ion-note>
            </ion-item>
            <ion-item class="login-entry" lines="none">
              <ion-label class="login-label" position="stacked">Введите пароль</ion-label>
              <ion-input class="login-input" placeholder="Пароль" type="password" formControlName="password"></ion-input>
              <ion-note *ngIf="!credentialsForm.valid && credentialsForm.get('password')?.touched" slot="error">Обязательное поле</ion-note>
            </ion-item>
            <div class="auth-buttons">
              <ion-button class="login-button" type="submit" size="full" shape="round" [disabled]="!credentialsForm.valid">Войти</ion-button>
              <ion-button class="forgot-button" type="button" size="full" fill="clear" color="tertiary">Забыли логин или пароль?</ion-button>
            </div>
          </ion-list>
        </form>
        <ion-img class="login-logo" src="assets/logo/FOODYLOGO.svg"></ion-img>
      </div>
  </div>
</ion-content>
