<ion-content *ngIf="loading" [fullscreen]="true">
  <div class="flex-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
<ion-content *ngIf="!loading" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="app-container">
    <div class="flex-row flex-ai-center">
      <ion-menu-button size="large"></ion-menu-button>
      <h1 class="app-title">Рестораны</h1>
    </div>
    <!-- <div class="restaurants-categories">
      <ion-slides>
        <ion-icon class="category-item" size="large" name="options-outline"></ion-icon>
        <ng-container>
          <ion-button class="category-item"></ion-button>
        </ng-container>
      </ion-slides>
    </div> -->
  </div>
  <div class="restaurants-list">
    <div class="list-wrap">
      <ng-container *ngFor="let item of vendors; let i = index;">
        <ion-card class="restaurant-card ion-activatable" *ngIf="item.disable_vendor == 'no'" [routerLink]="[item.vendor_id]">
          <div class="restaurant-info-icons">
            <div class="info-icon">
              <ion-icon size="large" src="assets\icon\Vector.svg" />
            </div>
            <div class="info-icon">
              <ion-icon size="large" src="assets\icon\Group.svg" />
            </div>
            <div class="info-icon">
              <ion-icon size="large" src="assets\icon\free-icon-delivery-709790 2.svg" />
            </div>
          </div>
          <img src={{item.mobile_banner}} alt={{item.vendor_display_name}}>
          <ion-card-header>
            <div class="flex-row flex-jc-space-between flex-ai-center">
              <div class="flex-row flex-ai-center">
                <ion-card-title class="vendor-shop-title" >{{firstLetterUpperCase(item.vendor_display_name)}}</ion-card-title>
                <ion-icon *ngIf="item.is_store_offline == 'no'"  class="vendor-status-icon" color="success" name="ellipse" [ngStyle]="{'transform': 'scale(' + scaleFactor + ')'}"></ion-icon>
                <ion-icon *ngIf="item.is_store_offline == 'yes'" class="vendor-status-icon" color="danger" name="ellipse" [ngStyle]="{'transform': 'scale(' + scaleFactor + ')'}"></ion-icon>
              </div>
              <img class="vendor-shop-img" src={{item.vendor_shop_logo}} alt={{item.vendor_shop_name}} />
            </div>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ng-container>
    </div>
  </div>
  
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <app-tabs></app-tabs> -->
